# colorize ls output 
# --------
export LSCOLORS="gxfxcxdxbxexexabagacad"
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-bFHGLOPW"
fi
alias ls="command ls ${colorflag}"
# --------


alias clear='echo "Nope"'
alias clean-docker='docker rm $(docker ps -aq -f status=exited) && docker rmi $(docker images | grep "^<none>" | awk "{print $3}")'
alias ls='colorls'
alias memory='smem -utp'
alias cat='bat'
alias myip="ifconfig | sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'"
