# colorize ls output 
# --------
export LSCOLORS="gxfxcxdxbxexexabagacad"
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-bFHGLOPW"
fi
alias ls="command ls ${colorflag}"
# --------


alias clear='echo "Nope"'
alias clean-docker='docker rm $(docker ps -a -q) && docker rmi $(docker images | grep "^<none>" | awk "{print $3})'

